:root {
  --max-width: 1100px;
  color-scheme: light;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* --foreground-rgb: 0, 0, 0; */
  /* --background-start-rgb: 214, 219, 220; */
  /* --background-end-rgb: 255, 255, 255; */
background-color: white  !important;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255; */
    /* --background-start-rgb: 0, 0, 0; */
    /* --background-end-rgb: 0, 0, 0; */

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      /* rgba(1, 65, 255, 0), */
      /* rgba(1, 65, 255, 0), */
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



.swiper-button-next {
  background-image: url(/rightarrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background-image: url(/leftarrow.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}

.swiper-button-disabled{
 opacity: 0 !important;
}
.MuiAppBar-root{
  background-color: #ffffff !important;
}
.MuiIconButton-root{
 
  color: white !important;
}
.MuiSwitch-root{
  color: #06c167 !important;
  background-color: #06c167 !important;
}
.MuiSwitch-colorPrimary{
  color: #06c167 !important ;
}
.MuiSwitch-colorSecondary{
  color: #06c167 !important;
}
#color{
  color: #000000;
}
#colorw{
  color: #fff;
}



.Mnavbar{
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  background-color: #06c167;
  color: #06c167;
}
.MuiRadio-root{
  color: #000000 !important;
}
.Mui-checked{
  color: #000000 !important;
}
.MuiRadio-colorPrimary{
  color: #000000 !important;
}
.MuiRadio-colorSecondary{
  color: #000000 !important;
}
.MuiRadioGroup-root{
  color: #000000;
}

#search {
  width: 100%;
  background-color: #EEEEEE;
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-left: 1rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
 

}
#search + img {


  position: absolute;
  
  padding: 10px;

  min-width: 50px;
  text-align: center;
 
 
}
#search + img {
  visibility: hidden;

}
#search:placeholder-shown + img {
  visibility: visible;
}
/* light backdrops only */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: inline-block;
 

  width: 12px;
  height: 12px;
  margin-left: 3rem;
  padding: 0.1rem;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #000000 45%,
      #000000 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #000000 45%,
      #000000 55%,
      transparent 57%,
      transparent 100%
    );
    
}

/* dark backdrops only */
input[type="search"][value="dark"]::-webkit-search-cancel-button {
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #fff 45%,
      #fff 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #fff 45%,
      #fff 55%,
      transparent 57%,
      transparent 100%
    );
}

#black{
  color: #000000;
}
	.MuiButton-root{
    color: #ffffff;
    background-color: #000000;
  }
  .MuiButton-root:hover{
    background-color: #4d4848;
  }

  .MuiFilledInput-colorSecondary{
    color: #000000 !important;
   
  }
  .MuiButton-contained{
    text-transform: none;
  }

  /* .MuiBottomNavigation-root{
    color: #000000 !important;
    background-color: #000000 !important;
  } */
  /* @media screen and (max-width: 768px){
    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }
  } */
  /* ::-webkit-scrollbar {
display: none;
 
  } */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
    }
    
  /* ::-webkit-scrollbar-track {
    background: (189, 231, 255);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1e88e5;
    border-radius: 1rem;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 110, 255);
  } */

  .Footern{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
     right: 0;
    left: 0;
    /* top: 0;  */
    bottom: 0;
    margin: auto;
color: rgb(255, 255, 255);
}

.Container{

    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
}

.Content{
    margin-bottom: 10vw;
    width: 100%;
    position: relative;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 40px;
    height: 100%;
}

.CTA{
    max-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column; 

}
